<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1> You Picked to wait till Morning</h1>
    <h3>You must be a smarty pants and knew that trolls turn to stone in Sunlight</h3>
    <h3>Waiting till the morning made getting your horses back very simple</h3>
    <h3>You found the Trolls in their stone forms and destroyed them</h3>
    <h3>You are a Hero!</h3>

    <button><a href="/">End Quest</a></button>
</body>
</html>