<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1>You chose to be friends with the dragon</h1>
    <h3>You offered the dragon a cow in celebration and the dragon aided you in taking the kingdom over!</h3>
    <h3>This led you to live a rich and happy life</h3>

    <button><a href="/">End Quest</a></button>
</body>
</html>