<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Traveler to a land of magic!</h1>
    <div>
        <h3>Pick a quest to go on, if you complete the quest you will be paid!</h3>
    </div>
    <ul>
        <li><button><a href="/dragon">Hunt and Slay the Dragon</button></li>
        <li><button><a href="/trolls">Clear the Bridge of All Trolls</button></li>
        <li><button><a href="/witches">Defeat the Local Witch</button></li>
    </ul>
</body>
</html>