<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1>Lets get ready to rumble!!!</h1>
    <h3>You accept the invite and enter the candy house.</h3>
    <h3>You immediately notice a giant witches cauldron boiling in the middle of the room</h3>
    <h3>The witch tries to grab you but you're too fast and slip her grasp while also spilling the cauldron of hot liquid all over the witch</h3>
    <h3>This causes her to melt like the witch from the Wizard of Oz</h3>
    <h3>You find the un eaten children and return to the town a hero! Yay!</h3>

    <button><a href="/">End Quest</a></button>
</body>
</html>