<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <H1>Bye Felicia</H1>
    <h3>Knowning you are out matched to the wich you choose to runaway, saving yourself</h3>
    <h3>The children are most likely already cooked and you didn't want to be next</h3>
    <h3>Of course upon the return to town the village people hate you and cast you out!</h3>

    <h3>You are now a broke loner</h3>

    <button><a href="/">End Quest</a></button>
</body>
</html>