<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body class ="body">
    <div class="content">
        <h1>Welcome <%= user %> This is the start of your adventure. </h1>
        <h3>During youre adventure you will be given different options to pick from to create youre own quest!</h3>

        <button><a href="/fantasy">Start in a World with Dragons and Knights</a></button>
    </div>
</body>
</html>