<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <h3>A group of Trolls have stolen your towns horses and are hidding under a bridge nearby</h3>
    <h3>It is dark out but You have found the bridge and have also spotted the stolen horses but have not seenm the trolls yet</h3>
    <h3>Do you: </h3>
    <button><a href="/trolls/daytime">Wait till Sunrise to Attack</a></button> | <button><a href="/trolls/nighttime">Leroy Jenkins in the dark</a></button>
</body>
</html>