<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <h3>Some crazy witch is stealing children and known to have been eating them</h3>
    <h3>You have travelled to the alst known spotting of the witch and discovered a house made completely of candy</h3>
    <h3>A old woman opens the door and invites you in to try some candy she has made</h3>
    <h3>Do you: </h3>
    <button><a href="/witches/runaway">Politely Decline and Run Away</a></button> | <button><a href="/witches/fight">Enter with the Intent to Fight</a></button>
</body>
</html>